node_modules/
flask_session/
__pycache__/
.env
*.crt
*.key
venv/
src/static/dist/pages/*.map
performance_scripts/

**/.terraform/*

*.tfstate
*.tfstate.*
terraform.tfstate*

crash.log
*.log

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json