bcrypt==4.1.2
blinker==1.7.0
cachelib==0.13.0
click==8.1.7
Deprecated==1.2.14
dotenv==0.0.5
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Limiter==3.5.1
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
importlib_resources==6.4.0
itsdangerous==2.1.2
Jinja2==3.1.3
limits==3.10.1
load-dotenv==0.1.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
msgspec==0.18.6
numpy==1.26.4
ordered-set==4.1.0
packaging==24.0
pandas==2.2.2
Pygments==2.17.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
rich==13.7.1
six==1.16.0
SQLAlchemy==2.0.29
typing_extensions==4.11.0
tzdata==2024.1
Werkzeug==3.0.2
wrapt==1.16.0
