{% extends "base.html" %}

{% block content %}
    <div class="markdown-content prose lg:prose-xl mx-auto px-6">
        <h2>Site Statistics</h2>
        <div id="stats-container">
        </div>
    </div>
    <head>
        <meta charset="UTF-8">
        <title>Band Statistics</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body class="bg-gray-800 text-white dark:text-white">
        <div class="flex justify-center">
            <table class="table-custom">
                <thead>
                    <tr>
                        <th class="th-custom text-theme-responsive">Band</th>
                        {% for provider in stats.providers %}
                            <th class="th-custom text-theme-responsive">{{ provider }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for band in stats.sorted_bands %}
                        <tr>
                            <td class="td-custom text-theme-responsive">{{ band }}</td>
                            {% for provider in stats.providers %}
                                <td class="td-custom text-theme-responsive">{{ stats.bands_data[band].get(provider, 0) }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="td-custom text-theme-responsive">Physical Sites</td>
                        {% for provider in stats.providers %}
                            <td class="td-custom text-theme-responsive">{{ stats.physical_sites.get(provider, 0) }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}

{% block code %}
{% endblock %}