@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-content h2 {
    @apply text-2xl text-center font-bold text-gray-800;
}

.markdown-content p {
    @apply text-base text-gray-600;
}

.markdown-content a {
    @apply text-blue-500 hover:text-blue-600;
}
  
.gps-location-control button {
    background-color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.gps-location-control button:hover {
    background-color: #f0f0f0;
}

.bts-control-container {
    @apply p-4 rounded flex flex-col;
}

.bts-button {
    @apply hover:bg-blue-50 text-black font-bold py-1 px-1 rounded;
}

.bts-button:last-child {
    @apply mb-0;
}