@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-content h2 {
    @apply text-2xl text-center font-bold text-gray-800 dark:text-white;
}

.markdown-content p {
    @apply text-base text-gray-600 dark:text-white;
}

.markdown-content a {
    @apply text-blue-500 hover:text-blue-600 dark:text-white;
}

.text-theme-responsive {
   color: black;
  }
  
.dark .text-theme-responsive {
   color: white; 
  }
  
.table-custom {
    @apply table-auto border-collapse border border-gray-500 mt-5;
  }
  
  .th-custom {
    @apply border border-gray-600 p-2;
  }
  
  .td-custom {
    @apply border border-gray-700 p-2;
  }

  .dark .border-custom {
    @apply border-white;
  }
  
  .dark .th-custom {
    @apply border-white;
  }
  
  .dark .td-custom {
    @apply border-white;
  }
  
.gps-location-control button {
    z-index: 1000;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 9px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.gps-location-control button:hover {
    background-color: #f0f0f0;
}

.label-container > label {
  @apply inline-flex items-center mr-1; 
}

.toast-transition {
  transition: opacity 1s;
}

.frequency-range-legend {
  @apply bg-white border border-gray-300 rounded-md p-4 shadow-md mt-5 hidden;
}

.frequency-table th {
  @apply border-b-2 border-black;
}

.frequency-table tbody tr:first-child {
  @apply border-t-2 border-black;
}

.frequency-table {
  @apply w-full border-collapse;
}

.frequency-table td {
  @apply text-center;
}

th[onclick] {
  @apply cursor-pointer;
}

th[onclick]:hover {
  @apply bg-blue-500 dark:bg-gray-800 dark:hover:bg-gray-500;
}

.highlighted-column {
  @apply bg-blue-100 dark:bg-gray-400;
}

.frequency-table tbody tr td {
  @apply border-b border-gray-300;
}

.frequency-table th, .frequency-table td {
  @apply border-l border-gray-300;
}

.frequency-table th:last-child, .frequency-table td:last-child {
  @apply border-r-0;
}

.text-yellow-500 { color: #fcd34d; } 
.text-orange-500 { color: #fb923c; } 