/*#coordinates {
            position: absolute;
            bottom: 10px;
            left: 10px;
            background: rgba(255, 255, 255, 0.8);
            padding: 5px;
            border-radius: 4px;
            z-index: 1000; /* Ensure it's above the map layers */
        