html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #E0ECF3;
}

.main {
    flex-grow: 1;
    padding-bottom: 20px;
}

#mapid {
    margin: auto;
}

.overlay-section {
    position: absolute;
    top: 0; /* Adjust as per your header's height */
    left: 0;
    right: 0;
    bottom: 0; /* Adjust as per your footer's height */
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    z-index: 10; /* Higher than the map and sidebar */
    display: none; /* Initially hidden */
}

.hidden {
    display: none;
}

.slogan-section {
    padding: 5px;
    background-color: #E0ECF3; 
    color: #333; 
    margin-bottom: 10px;
}   

.slogan-section h2 {
    font-size: 1.5em; 
    font-weight: bold;
}

.slogan-section p {
    font-size: 1.2em; 
}

#map-container {
    width: 70%; /* Adjust the width as needed */
    margin-right: 10px; /* Spacing between map and sidebar */
    margin-bottom: 5px;
}

#sidebar {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
    grid-gap: 5px; /* Space between grid items */
    max-height: calc(100vh - 150px); /* Adjust based on your layout */
    overflow-y: auto; /* Adds scrollbar if content overflows */
}

.sidebar-item {
    border: 1px solid #ddd;
    padding: 5px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    min-height: 200px; /* Minimum height for each item */
}

.footer {
    position: fixed;
    height: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
}
/* leaflet */
.leaflet-tooltip {
    background-color: rgba(255, 255, 255, 0.8); 
    border: 1px solid #ddd; 
    padding: 5px; 
    font-size: 20px;
    color: #333; 
    border-radius: 50px; 
}