<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signal-Scout</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/build.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script defer src="{{ url_for('static', filename='scripts/pages/common.js') }}"></script>
    {% block head_extra %}{% endblock %}
</head>
<body class="bg-gradient-to-t from-custom-blue-start via-custom-blue-mid to-custom-blue-end dark:from-custom-dark-start dark:via-custom-dark-mid dark:to-custom-dark-end flex flex-col min-h-screen">
    
    <header class="flex items-center justify-between flex-wrap p-6">

        <div class="flex items-center flex-shrink-0 text-black dark:text-white mr-6">
            <a href="/" class="text-xl font-semibold">Signal-Scout</a>
        </div>

        <div class="absolute top-0 right-0 m-4">
            <button id="themeToggle" class="text-black dark:text-white px-4 py-2 transition duration-1000 ease-in-out">
                Dark mode
            </button>
        </div>

        <button id="backtoTopBtn" class="hidden fixed bottom-5 right-5 bg-blue-500 dark:bg-gray-500 text-white px-4 py-2 rounded transition duration-1000 ease-in-out">
            ↑ Back to Top
        </button>

        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="custom-gradient text-sm lg:flex-grow">
                <a href="/data" class="block mt-4 lg:inline-block lg:mt-0 text-black mr-4 dark:text-white">
                    Data
                </a>
                <a href="/stats" class="block mt-4 lg:inline-block lg:mt-0 text-black mr-4 dark:text-white">
                    Statistics
                </a>
                <a href="/tips" class="block mt-4 lg:inline-block lg:mt-0 text-black dark:text-white">
                    Tips
                </a>
            </div>
        </div>
    </header>

    <div class="flex-grow">
        {% block content %}{% endblock %} <!-- <main> --> 
    </div>   

    <footer class="mt-auto text-center py-3 w-full dark:text-white">
            © 2024 Signal-Scout | Contact: hcylwik@gmail.com
    </footer>

    <script>
          
    </script>
    
    {% block scripts %}{% endblock %}

{% block code %}{% endblock %}

</body>
</html>
