<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signal-Scout</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/build.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script defer src="{{ url_for('static', filename='scripts/pages/common.js') }}"></script>
    {% block head_extra %}{% endblock %}
</head>
<body class="bg-gradient-to-t from-custom-blue-start via-custom-blue-mid to-custom-blue-end dark:from-custom-dark-start dark:via-custom-dark-mid dark:to-custom-dark-end flex flex-col min-h-screen">
    
    <header class="flex items-center justify-between flex-wrap p-6">

        <div class="flex items-center space-x-2 text-black dark:text-white">
            <a href="/" class="inline-flex items-center text-lg font-semibold">Signal-Scout</a>
            <a href="/data" class="inline-flex items-center mr-4 text-black dark:text-white">Data</a>
            <a href="/stats" class="inline-flex items-center mr-4 text-black dark:text-white">Statistics</a>
            <a href="/tips" class="inline-flex items-center mr-4text-black dark:text-white">Tips</a>
        </div>
    
        <div class="flex items-center space-x-2">
            <button id="signInBtn" class="inline-flex items-center text-black dark:text-white">Sign In</button>
            <button id="registerBtn" class="inline-flex items-center mr-4 text-black dark:text-white">Sign Up</button>
            <button id="logoutButton" class="inline-flex items-center mr-4 text-black dark:text-white" style="display:none;" onclick="logoutUser()">Logout</button>
            <button id="themeToggle" class="inline-flex items-center mr-4 text-black dark:text-white transition duration-1000 ease-in-out">Dark mode</button>
        </div>
        
        <div id="registrationModal" class="modal fixed inset-0 bg-gray-600 bg-opacity-50 hidden flex items-center justify-center" style="z-index: 5000;">
            <div class="container mx-auto h-full flex justify-center items-center">
              <div class="relative bg-blue-50 dark:bg-gray-500 p-8 rounded-lg shadow-lg max-w-sm mx-auto">
                <button class="close-modal dark:text-white absolute top-0 right-0 mt-2 mr-2">Close</button>
                <h2 class="text-center text-xl font-bold mb-4 dark:text-white">Sign up to get exclusive features</h2>
                <form id="registrationForm" method="POST" action="/register" class="space-y-2">
                  <input type="text" id="email" name="email" placeholder="Your Email" required pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+" title="Please enter a valid email address." class="w-full dark:bg-gray-300 p-2 border rounded">
                  <div class="error-message text-red-500 text-sm mt-1 hidden" id="emailError"></div>
                  <input type="password" id="password" name="password" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}" title="Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character." class="w-full dark:bg-gray-300 p-2 border rounded">
                  <div class="error-message text-red-500 text-sm mt-1 hidden" id="passwordError"></div>
                  <input type="password" id="confirmpassword" name="confirm_password" placeholder="Confirm Password" class="w-full dark:bg-gray-300 p-2 border rounded">
                  <div class="error-message text-red-500 text-sm mt-1 hidden" id="confirmPasswordError"></div>
                  <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-700">Register</button>
                </form>
              </div>
            </div>
        </div>
        
        <div id="signInModal" class="modal fixed inset-0 bg-gray-600 bg-opacity-50 hidden flex items-center justify-center" style="z-index: 5000;">
            <div class="container mx-auto h-full flex justify-center items-center">
              <div class="relative bg-blue-50 dark:bg-gray-500 p-8 rounded-lg shadow-lg max-w-sm mx-auto">
                <button class="close-modal dark:text-white absolute top-0 right-0 mt-2 mr-2">Close</button>
                <h2 class="text-center text-2xl font-bold mb-4 dark:text-white">Sign In</h2>
                <form id="signInForm" method="POST" action="/login" class="space-y-2">
                  <input type="text" id="email" name="email" placeholder="Your Email" class="w-full dark:bg-gray-300 p-2 border rounded">
                  <input type="password" id="password" name="password" placeholder="Password" class="w-full p-2 dark:bg-gray-300 border rounded">
                  <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-700">Sign In</button>
                </form>
              </div>
            </div>
        </div>
    </header>

    <div id="toast-container" class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col items-center space-y-2" style="z-index: 5000;"></div>

    <div class="flex-grow">
        {% block content %}{% endblock %} <!-- <main> --> 
    </div>   

    <footer class="mt-auto text-center py-3 w-full dark:text-white">
            © 2024 Signal-Scout | <a href="https://hch155.github.io">Hubert Cylwik</a>
    </footer>

    <script>
          
    </script>
    
    {% block scripts %}{% endblock %}

{% block code %}{% endblock %}

</body>
</html>
