{% extends "base.html" %}

{% block content %}
    <section class="slogan-section text-center text-[#333] dark:text-white p-5 mb-10">
        <h2 class="text-x1 font-bold">{{ slogan_title }}</h2>
        <p class="text-lg">{{ slogan_text }}</p>
    </section>

    <div class="container-fluid mt-3">
        <div class="flex justify-center">
            <div class="w-4/5 mb-5">
                <div id="map-container" class="w-full mb-5" style="height: 400px;">
                    <div id="mapid" class="h-full w-full"></div>
                </div>
                <div id="sidebar" class="grid grid-cols-3 gap-5 pb-10">
                </div>
            </div>
        </div>
    </div>
    <div id="messageBox" class="hidden fixed inset-0 z-50 flex items-center text-center justify-center" style="z-index: 9999;">
        <div class="m-auto p-4 bg-blue-200 bg-opacity-90 rounded-lg shadow-lg">
            <p>Consider moving to Poland! &#129370;</p>
            <p><a href="https://www.expatarrivals.com/europe/poland/pros-and-cons-moving-poland" target="_blank" class="animate-pulse">Why?</a></p>
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}

{% block code %}
    <script>
        var mymap = L.map('mapid').setView([52.231, 21.004], 7); //  default location and zoom level

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© OpenStreetMap contributors'
}).addTo(mymap);

var greenIcon = new L.Icon({ 
  iconUrl: 'static/css/images/marker-icon-green.png', shadowUrl: 'static/css/images/marker-shadow.png', iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41]
});

var providerColors = {
    'P4 Sp. z o.o.': 'violet', // purple/violet marker for Play
    'Orange Polska S.A.': 'orange',
    'T-Mobile Polska S.A.': 'red', 
    'POLKOMTEL Sp. z o.o.': 'blue',
    'AERO 2 Sp. z o.o.': 'blue' 
};

var stationMarkers = [];
var marker;
var userSubmittedLocation = null;
var countryBoundaries;

fetch('/static/PL-administrative-boundaries.json')
  .then(response => response.json())
  .then(data => {
    countryBoundaries = L.geoJson(data, {
    style: function (feature) {
        return {
            fillColor: 'transparent',
            fill: false,
            color: '#4a90e2',
            weight: 2
        };
    }
}).addTo(mymap);
  });


mymap.on('click', function(e) {
    var coord = e.latlng;
    var lat = coord.lat;
    var lng = coord.lng;

    // Clear existing marker,
    if (marker) {
        mymap.removeLayer(marker);
    }

    // marker to show where you clicked.
    marker = L.marker([lat, lng], {icon: greenIcon}).addTo(mymap);
        
    sendLocation(lat, lng);
});

function requestAndSendGPSLocation() {
    // Stop event propagation if called from an event listener
    if (event) event.stopPropagation();

    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(function(position) {
            var userLat = position.coords.latitude;
            var userLng = position.coords.longitude;
            mymap.setView([userLat, userLng], 7); 
            sendLocation(userLat, userLng);
        }, function(error) {
            console.error('Geolocation error:', error);
            alert('Error getting location.');
        }, {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        });
    } else {
        console.log("Geolocation is not supported by this browser.");
    }
}

var gpsButton = L.control({position: 'topleft'});
gpsButton.onAdd = function(map) {
    var div = L.DomUtil.create('div', 'gps-location-control');
    div.innerHTML = '<button id="useMyLocationBtn" title="Use My Location">📍</button>';
    L.DomEvent.on(div, 'click', function(e) {
        L.DomEvent.stop(e); // Prevent map click
        requestAndSendGPSLocation(); 
    });
    return div;
};
gpsButton.addTo(mymap);

function sendLocation(lat, lng) {
    const userSubmittedLocation = { lat: lat, lng: lng };
    const messageBox = document.getElementById('messageBox');

    fetch('/submit_location', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(userSubmittedLocation)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();                     // Ensure JSON parsing
    })
    .then(data => {
        console.log('Parsed data:', data);    // verification of the parsed data  
        if (!countryBoundaries.getBounds().contains(userSubmittedLocation)) {
            const viewportHeight = window.innerHeight;
            const bodyHeight = document.body.offsetHeight;
            messageBox.classList.remove('hidden');
            setTimeout(() => {
                messageBox.classList.add('hidden');
            }, 7700);
        }  else {
            messageBox.classList.add('hidden');
        }
        displayStations(data);                      // function to display stations on the map
        showSidebar();                              // sidebar function
    })
    .catch((error) => {
        console.error('Error:', error);
    });
}

function showSidebar() {
    var sidebar = document.getElementById('sidebar');
    sidebar.classList.remove('hidden');
}

function hideSidebar() {
    var sidebar = document.getElementById('sidebar');
    sidebar.classList.add('hidden');
    
}
window.onload = hideSidebar; // Hide the sidebar initially

function clearStationMarkers() { // clearing markers when new location is submitted
    for (var i = 0; i < stationMarkers.length; i++) {
        mymap.removeLayer(stationMarkers[i]);
    }
    stationMarkers = []; // Reset the array
} 

function displayStations(stations) {
    clearStationMarkers(); // Clear existing markers
    var sidebarContent = document.getElementById('sidebar');
    sidebarContent.innerHTML = ''; // Clear existing sidebar content

    var bounds = [];
    
    if (!Array.isArray(stations)) {
        console.error('Received data is not an array:', stations);
        return;
    }

    stations.forEach((station, index) => {
        addStationMarker(station, index);
        addStationInfoToSidebar(station, index, sidebarContent);

        var latLng = L.latLng(station.latitude, station.longitude);
        bounds.push(latLng); 
    });

    if (bounds.length > 0) {
        mymap.fitBounds(bounds, { padding: [50, 50] }); 
    }
}

function createCustomIcon(station, index, providerIconUrl) {
    var iconHtml = `<div style="background-image: url(${providerIconUrl}); width: 30px; height: 46px; background-size: cover; position: relative;">
                        <div style="position: absolute; bottom: 1px; width: 100%; text-align: center; color: white; font-weight: bold; font-size: 21px;">
                            ${index + 1}
                        </div>
                    </div>`;
    return L.divIcon({ 
        html: iconHtml, iconSize: [12, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], className: '' 
    });
}

function addStationMarker(station, index) {
    var providerIconUrl = `static/css/images/marker-icon-${providerColors[station.service_provider]}.png` || 'grey'; // grey color if provider not found
    var customIcon = createCustomIcon(station, index, providerIconUrl);
    var stationMarker = L.marker([station.latitude, station.longitude], {icon: customIcon}).addTo(mymap);
    var popupContent = createPopupContent(station, index);
    stationMarker.bindPopup(popupContent);
    stationMarkers.push(stationMarker);

    var tooltipContent = `${index + 1}. ${station.basestation_id}`; // tooltip
    stationMarker.bindTooltip(tooltipContent);
}

function addStationInfoToSidebar(station, index, sidebarContent) {
    var stationInfo = createSidebarContent(station, index);
    var stationInfoDiv = document.createElement('div');
    stationInfoDiv.className = 'sidebar-item';
    stationInfoDiv.innerHTML = stationInfo;
    sidebarContent.appendChild(stationInfoDiv);
    
    var googleMapsLink = document.createElement('a');
    googleMapsLink.href = `https://www.google.com/maps/search/?api=1&query=${station.latitude},${station.longitude}`;
    googleMapsLink.target = '_blank';
    googleMapsLink.textContent = 'View on Google Maps';
    googleMapsLink.className = 'google-maps-link';
    stationInfoDiv.appendChild(googleMapsLink);
}

function createPopupContent(station, index) {
    var formattedLat = station.latitude.toFixed(5);
    var formattedLng = station.longitude.toFixed(5);
    var latHemisphere = station.latitude >= 0 ? 'N' : 'S';
    var lngHemisphere = station.longitude >= 0 ? 'E' : 'W';
    var googleMapsLink = `https://www.google.com/maps/search/?api=1&query=${station.latitude},${station.longitude}`;
    
    return `
        <b>${index + 1}. Service Provider:</b> ${station.service_provider}<br>
        <b>Distance:</b> ${station.distance}km<br>
        <b>Base Station ID:</b> ${station.basestation_id}<br>
        <b>Frequency Bands:</b> ${station.frequency_bands.join(", ")}<br>
        <b>City:</b> ${station.city}<br>
        <b>Location:</b> ${station.location}<br>
        <b>Coordinates:</b> ${formattedLat}°${latHemisphere}, ${formattedLng}°${lngHemisphere}<br>
        <a href="${googleMapsLink}" target="_blank">View on Google Maps</a>`;
}

function createSidebarContent(station, index) {
    var formattedLat = station.latitude.toFixed(5);
    var formattedLng = station.longitude.toFixed(5);
    var latHemisphere = station.latitude >= 0 ? 'N' : 'S';
    var lngHemisphere = station.longitude >= 0 ? 'E' : 'W';
    var googleMapsLink = `https://www.google.com/maps/search/?api=1&query=${station.latitude},${station.longitude}`;
    return `
        <div class="sidebar-item dark:text-white">
            <h4>${index + 1}. ${station.basestation_id}</h4>
            <p><b>Service Provider:</b> ${station.service_provider}</p>
            <p><b>Distance:</b> ${station.distance}km</p>
            <p><b>Frequency Bands:</b> ${station.frequency_bands.join(", ")}</p>
            <p><b>City:</b> ${station.city}</p>
            <p><b>Location:</b> ${station.location}</p>
            <p><b>Coordinates:</b> ${formattedLat}°${latHemisphere}, ${formattedLng}°${lngHemisphere}</p>
        </div>`;
}

function fetchStations(lat, lng, mode = 'nearest') {
    let url = `/stations?lat=${lat}&lng=${lng}`;
    if (mode === 'within3km') {
        url = `/stations_within_3km?lat=${lat}&lng=${lng}`;
    } 

    fetch(url)
    .then(response => response.json())
    .then(stations => {
        showSidebar();
        displayStations(stations);
    })
    .catch(error => console.error('Error fetching stations:', error));
}

var showBTSButton = L.control({position: 'topright'});
showBTSButton.onAdd = function(map) {
    var div = L.DomUtil.create('div', 'bts-control-container');

    div.innerHTML = `
        <button id="showNearestBtn" title="Show 6 nearest BTSs" class="bts-button">
            Show 6 Nearest BTSs
        </button>
        <button id="showWithin3kmBtn" title="Show BTSs within 3km" class="bts-button">
            Show BTSs within 3km
        </button>
    `;

    L.DomEvent.on(div, 'click', function(e) {
        L.DomEvent.stop(e);
        var center = map.getCenter();
        if (e.target.id === 'showNearestBtn') {
            fetchStations(center.lat, center.lng, 'nearest');
        } else if (e.target.id === 'showWithin3kmBtn') {
            fetchStations(center.lat, center.lng, 'within3km');
        }
    });

    return div;
};

showBTSButton.addTo(mymap);

    </script>
{% endblock %}


