<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signal-Scout</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Signal-Scout</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Data <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tips</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="main-content">
        <div class="container-fluid mt-3">
            <div class="row justify-content-center">
                <div class="col-md-9" id="map-container">
                    <div id="mapid" style="height: 400px;"></div>
                </div>
                <div class="row justify-content-center"></div>
                    <div class="col-md-9">
                        <div id="sidebar" class="sidebar-container border-top pl-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    
    <footer class="footer">
        <div class="container text-center">
            © 2024 Signal-Scout | Contact: hcylwik@gmail.com
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>

var mymap = L.map('mapid').setView([52.231, 21.004], 7); //  default location and zoom level

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© OpenStreetMap contributors'
}).addTo(mymap);

/*
Leaflet doesn't provide a direct way to change the color of the default marker,
Leaflet's GitHub repository contains images for markers in different colors.
*/
var greenIcon = new L.Icon({ 
  iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

var stationMarkers = [];
var marker;

mymap.on('click', function(e) {
    var coord = e.latlng;
    var lat = coord.lat;
    var lng = coord.lng;
    /*document.getElementById('coordinates').innerHTML = `Lat: ${lat}, Lng: ${lng}`; */

    // Clear existing marker,
    if (marker) {
        mymap.removeLayer(marker);
    }

    // marker to show where you clicked.
    marker = L.marker([lat, lng], {icon: greenIcon}).addTo(mymap);

    
    sendLocation(lat, lng);
    
});

var providerColors = {
    'P4 Sp. z o.o.': 'violet', // purple/violet marker for Play
    'Orange Polska S.A.': 'orange',
    'T-Mobile Polska S.A.': 'red', 
    'POLKOMTEL Sp. z o.o.': 'blue',
    'AERO 2 Sp. z o.o.': 'blue' 
};

function sendLocation(lat, lng) {
    fetch('/submit_location', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({lat: lat, lng: lng})
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();                     // Ensure JSON parsing
    })
    .then(data => {
        console.log('Parsed data:', data);          // verification of the parsed data
        displayStations(data);                      // function to display stations on the map
        showSidebar();                              // sidebar function
    })
    .catch((error) => {
        console.error('Error:', error);
    });
}


function showSidebar() {
    var sidebar = document.getElementById('sidebar');
    sidebar.classList.remove('hidden');
}

// Call this function on page load to initially hide the sidebar
function hideSidebar() {
    var sidebar = document.getElementById('sidebar');
    sidebar.classList.add('hidden');
}

window.onload = hideSidebar; // Hide the sidebar initially

function clearStationMarkers() { // clearing markers when new location is submitted
    for (var i = 0; i < stationMarkers.length; i++) {
        mymap.removeLayer(stationMarkers[i]);
    }
    stationMarkers = []; // Reset the array
} 

function displayStations(stations) {
    clearStationMarkers(); // Clear existing markers
    var sidebarContent = document.getElementById('sidebar');
    sidebarContent.innerHTML = ''; // Clear existing sidebar content

    var bounds = [];
    

    if (!Array.isArray(stations)) {
        console.error('Received data is not an array:', stations);
        return;
    }

    stations.forEach((station, index) => {
        addStationMarker(station, index);
        addStationInfoToSidebar(station, index, sidebarContent);

        var latLng = L.latLng(station.latitude, station.longitude);
        bounds.push(latLng); 
    });

    if (bounds.length > 0) {
        mymap.fitBounds(bounds, { padding: [50, 50] }); 
    }
}

function createCustomIcon(station, index, providerIconUrl) {
    var iconHtml = `<div style="background-image: url(${providerIconUrl}); width: 30px; height: 46px; background-size: cover; position: relative;">
                        <div style="position: absolute; bottom: 1px; width: 100%; text-align: center; color: white; font-weight: bold; font-size: 21px;">
                            ${index + 1}
                        </div>
                    </div>`;
    return L.divIcon({ 
        html: iconHtml, 
        iconSize: [12, 41], 
        iconAnchor: [12, 41], 
        popupAnchor: [1, -34], 
        className: '' 
    });
}

function addStationMarker(station, index) {
    var providerIconUrl = `static/css/images/marker-icon-${providerColors[station.service_provider]}.png` || 'grey'; // grey color if provider not found
    var customIcon = createCustomIcon(station, index, providerIconUrl);
    var stationMarker = L.marker([station.latitude, station.longitude], {icon: customIcon}).addTo(mymap);
    var popupContent = createPopupContent(station, index);
    stationMarker.bindPopup(popupContent);
    stationMarkers.push(stationMarker);

    var tooltipContent = `${index + 1}. ${station.basestation_id}`; // tooltip
    stationMarker.bindTooltip(tooltipContent);
}

function addStationInfoToSidebar(station, index, sidebarContent) {
    var stationInfo = createSidebarContent(station, index);
    var stationInfoDiv = document.createElement('div');
    stationInfoDiv.className = 'sidebar-item';
    stationInfoDiv.innerHTML = stationInfo;
    sidebarContent.appendChild(stationInfoDiv);
    
    var googleMapsLink = document.createElement('a');
    googleMapsLink.href = `https://www.google.com/maps/search/?api=1&query=${station.latitude},${station.longitude}`;
    googleMapsLink.target = '_blank';
    googleMapsLink.textContent = 'View on Google Maps';
    googleMapsLink.className = 'google-maps-link';
    stationInfoDiv.appendChild(googleMapsLink);
}

function createPopupContent(station, index) {
    var formattedLat = station.latitude.toFixed(5);
    var formattedLng = station.longitude.toFixed(5);
    var latHemisphere = station.latitude >= 0 ? 'N' : 'S';
    var lngHemisphere = station.longitude >= 0 ? 'E' : 'W';
    var googleMapsLink = `https://www.google.com/maps/search/?api=1&query=${station.latitude},${station.longitude}`;
    

    return `
        <b>${index + 1}. Service Provider:</b> ${station.service_provider}<br>
        <b>Distance:</b> ${station.distance}km<br>
        <b>Base Station ID:</b> ${station.basestation_id}<br>
        <b>Frequency Bands:</b> ${station.frequency_bands.join(", ")}<br>
        <b>City:</b> ${station.city}<br>
        <b>Location:</b> ${station.location}<br>
        <b>Coordinates:</b> ${formattedLat}°${latHemisphere}, ${formattedLng}°${lngHemisphere}<br>
        <a href="${googleMapsLink}" target="_blank">View on Google Maps</a>`;
}

function createSidebarContent(station, index) {
    var formattedLat = station.latitude.toFixed(5);
    var formattedLng = station.longitude.toFixed(5);
    var latHemisphere = station.latitude >= 0 ? 'N' : 'S';
    var lngHemisphere = station.longitude >= 0 ? 'E' : 'W';
    var googleMapsLink = `https://www.google.com/maps/search/?api=1&query=${station.latitude},${station.longitude}`;
    return `
        <div class="sidebar-item">
            <h4>${index + 1}. ${station.basestation_id}</h4>
            <p><b>Service Provider:</b> ${station.service_provider}</p>
            <p><b>Distance:</b> ${station.distance}km</p>
            <p><b>Frequency Bands:</b> ${station.frequency_bands.join(", ")}</p>
            <p><b>City:</b> ${station.city}</p>
            <p><b>Location:</b> ${station.location}</p>
            <p><b>Coordinates:</b> ${formattedLat}°${latHemisphere}, ${formattedLng}°${lngHemisphere}</p>
        </div>`;
}


    </script>
</body>
</html>
