{% extends "base.html" %}

{% block content %}
    <section class="slogan-section text-center text-[#333] dark:text-white p-5 mb-10">
        <h2 class="text-x1 font-bold">{{ slogan_title }}</h2>
        <p class="text-lg">{{ slogan_text }}</p>
    </section>

    <div class="container-fluid mt-3">
        <div class="flex justify-center">
            <div class="w-4/5 mb-5">
                <div id="map-container" class="relative w-full mb-5" style="height: 400px;">
                    <div id="mapid" class="h-full w-full"></div>
                </div>
                <div id="sidebar" class="grid grid-cols-3 gap-5 pb-10">
                </div>
            </div>
        </div>
    </div>
    <div id="messageBox" class="hidden fixed inset-0 z-50 flex items-center text-center justify-center" style="z-index: 5000;">
        <div class="m-auto p-4 bg-blue-200 bg-opacity-90 rounded-lg shadow-lg">
            <p>Consider moving to Poland! &#129370;</p>
            <p><a href="https://www.expatarrivals.com/europe/poland/pros-and-cons-moving-poland" target="_blank" class="animate-pulse">Why?</a></p>
        </div>
    </div>
    
    
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}

{% block code %}
    <script>
        
var mymap = L.map('mapid').setView([52.231, 21.004], 7); //  default location and zoom level

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© OpenStreetMap contributors'
}).addTo(mymap);

var greenIcon = new L.Icon({ 
  iconUrl: 'static/css/images/marker-icon-green.png', shadowUrl: 'static/css/images/marker-shadow.png', iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], shadowSize: [41, 41]
});

var providerColors = {
    'P4 Sp. z o.o.': 'violet', // purple/violet marker for Play
    'Orange Polska S.A.': 'orange',
    'T-Mobile Polska S.A.': 'red', 
    'POLKOMTEL Sp. z o.o.': 'blue',
    'AERO 2 Sp. z o.o.': 'blue' 
};

let currentFilters = {
    lat: undefined,
    lng: undefined,
    limit: 6,
    maxDistance: undefined,
    serviceProvider: [],
    frequencyBands: []
};

var stationMarkers = [];
var marker;
var userSubmittedLocation = null;
var countryBoundaries;

fetch('/static/PL-administrative-boundaries.json')
  .then(response => response.json())
  .then(data => {
    countryBoundaries = L.geoJson(data, {
    style: function (feature) {
        return {
            fillColor: 'transparent',
            fill: false,
            color: '#4a90e2',
            weight: 2
        };
    }
}).addTo(mymap);
  });


mymap.on('click', function(e) {
    var coord = e.latlng;
    lat = coord.lat;
    lng = coord.lng;
    
    // Clear existing marker,
    if (marker) {
        mymap.removeLayer(marker);
    }

    // marker to show where you clicked.
    marker = L.marker([lat, lng], {icon: greenIcon}).addTo(mymap);
        
    sendLocation(lat, lng);
});

function requestAndSendGPSLocation() {
    // Stop event propagation if called from an event listener
    if (event) event.stopPropagation();

    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(function(position) {
            var userLat = position.coords.latitude;
            var userLng = position.coords.longitude;
            mymap.setView([userLat, userLng], 7); 
            sendLocation(userLat, userLng);
        }, function(error) {
            console.error('Geolocation error:', error);
            alert('Error getting location. Please try again.');
        }, {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        });
    } else {
        console.log("Geolocation is not supported by this browser.");
    }
}

var gpsButton = L.control({position: 'topleft'});
gpsButton.onAdd = function(map) {
    var div = L.DomUtil.create('div', 'gps-location-control');
    div.innerHTML = '<button id="useMyLocationBtn" title="Use My Location">📍</button>';
    L.DomEvent.on(div, 'click', function(e) {
        L.DomEvent.stop(e); // Prevent map click
        requestAndSendGPSLocation(); 
    });
    return div;
};
gpsButton.addTo(mymap);

var btsCountControl = L.control({position: 'bottomright'});
btsCountControl.onAdd = function(map) {
    var div = L.DomUtil.create('div', '');
    div.className = 'bg-white p-3 rounded shadow text-black dark:bg-black dark:text-white';
    div.innerHTML = 'BTS count: <span id="btsCounter">0</span>';
    return div;
}

btsCountControl.addTo(mymap);

function updateBTSCount(count) {
    var btsCounter = document.getElementById('btsCounter');
    if (btsCounter) {
        btsCounter.textContent = count;
    }
}

function sendLocation(lat, lng, mode = 'nearest', limit = 6, max_distance = null) {
    let url = `/submit_location`;
    const userSubmittedLocation = { lat: lat, lng: lng };
    const requestData = {
        ...userSubmittedLocation, 
        mode: mode, // Including mode in the request data
        limit: limit,
        max_distance: max_distance // Keeping consistent with the naming convention
    };
    const messageBox = document.getElementById('messageBox');

    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(requestData)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json(); // Ensure JSON parsing
    })
    .then(data => {
        console.log('Parsed data:', data);    // verification of the parsed data  
        if (!countryBoundaries.getBounds().contains(userSubmittedLocation)) {
            const viewportHeight = window.innerHeight;
            const bodyHeight = document.body.offsetHeight;
            messageBox.classList.remove('hidden');
            setTimeout(() => {
                messageBox.classList.add('hidden');
            }, 7700);
        }  else {
            messageBox.classList.add('hidden');
        }
        if (data && Array.isArray(data.stations)) {
            updateBTSCount(data.count);
            showSidebar(); 
            displayStations(data.stations);
            // Pass just the stations array to displayStations
        } else {
            console.error('Unexpected data structure:', data);
        }
})
    .catch((error) => {
        console.error('Error:', error);
    });
}

function showSidebar() {
    var sidebar = document.getElementById('sidebar');
    sidebar.classList.remove('hidden');
}

function hideSidebar() {
    var sidebar = document.getElementById('sidebar');
    sidebar.classList.add('hidden');
    
}
window.onload = hideSidebar; // Hide the sidebar initially

function clearStationMarkers() { // clearing markers when new location is submitted
    for (var i = 0; i < stationMarkers.length; i++) {
        mymap.removeLayer(stationMarkers[i]);
    }
    stationMarkers = []; // Reset the array
} 

function displayStations(data) {
    clearStationMarkers(); // Clear existing markers
    var sidebarContent = document.getElementById('sidebar');
    sidebarContent.innerHTML = ''; // Clear existing sidebar content
    let stations;
    
    var bounds = [];
    
    if (Array.isArray(data)) {
        // Data is just the list of stations
        stations = data;
    } else if (data && Array.isArray(data.stations)) {
        // Data is an object containing stations and possibly other information
        stations = data.stations;
    } else {
        console.error('Invalid data format for displayStations', data);
        return; // Exit the function if the data format is not recognized
    }

    stations.forEach((station, index) => {
        addStationMarker(station, index);
        addStationInfoToSidebar(station, index, sidebarContent);
        
    var latLng = L.latLng(station.latitude, station.longitude);
        bounds.push(latLng); 
    });

    if (bounds.length > 0) {
        mymap.fitBounds(bounds, { padding: [50, 50] }); 
        mymap.setZoom(mymap.getZoom() - 3); //
    }
}

function createCustomIcon(station, index, providerIconUrl) {
    var iconHtml = `<div style="background-image: url(${providerIconUrl}); width: 30px; height: 46px; background-size: cover; position: relative;">
                        <div style="position: absolute; bottom: 1px; width: 100%; text-align: center; color: white; font-weight: bold; font-size: 21px;">
                            ${index + 1}
                        </div>
                    </div>`;
    return L.divIcon({ 
        html: iconHtml, iconSize: [12, 41], iconAnchor: [12, 41], popupAnchor: [1, -34], className: '' 
    });
}

function addStationMarker(station, index) {
    var providerIconUrl = `static/css/images/marker-icon-${providerColors[station.service_provider]}.png` || 'grey'; // grey color if provider not found
    var customIcon = createCustomIcon(station, index, providerIconUrl);
    var stationMarker = L.marker([station.latitude, station.longitude], {icon: customIcon}).addTo(mymap);
    var popupContent = createPopupContent(station, index);
    stationMarker.bindPopup(popupContent);
    stationMarkers.push(stationMarker);

    var tooltipContent = `${index + 1}. ${station.basestation_id}`; // tooltip
    stationMarker.bindTooltip(tooltipContent);
}

function addStationInfoToSidebar(station, index, sidebarContent) {
    var stationInfo = createSidebarContent(station, index);
    var stationInfoDiv = document.createElement('div');
    stationInfoDiv.className = 'sidebar-item';
    stationInfoDiv.innerHTML = stationInfo;
    sidebarContent.appendChild(stationInfoDiv);
    
    var googleMapsLink = document.createElement('a');
    googleMapsLink.href = `https://www.google.com/maps/search/?api=1&query=${station.latitude},${station.longitude}`;
    googleMapsLink.target = '_blank';
    googleMapsLink.textContent = 'View on Google Maps';
    googleMapsLink.className = 'google-maps-link dark:text-white';
    stationInfoDiv.appendChild(googleMapsLink);
}

function createPopupContent(station, index) {
    var formattedLat = station.latitude.toFixed(5);
    var formattedLng = station.longitude.toFixed(5);
    var formattedDistance = station.distance.toFixed(2);
    var latHemisphere = station.latitude >= 0 ? 'N' : 'S';
    var lngHemisphere = station.longitude >= 0 ? 'E' : 'W';
    var googleMapsLink = `https://www.google.com/maps/search/?api=1&query=${station.latitude},${station.longitude}`;
    
    return `
        <b>${index + 1}. Service Provider:</b> ${station.service_provider}<br>
        <b>Distance:</b> ${formattedDistance}km<br>
        <b>Base Station ID:</b> ${station.basestation_id}<br>
        <b>Frequency Bands:</b> ${station.frequency_bands.join(", ")}<br>
        <b>City:</b> ${station.city}<br>
        <b>Location:</b> ${station.location}<br>
        <b>Coordinates:</b> ${formattedLat}°${latHemisphere}, ${formattedLng}°${lngHemisphere}<br>
        <a href="${googleMapsLink}" target="_blank">View on Google Maps</a>`;
}

function createSidebarContent(station, index) {
    var formattedLat = station.latitude.toFixed(5);
    var formattedLng = station.longitude.toFixed(5);
    var formattedDistance = station.distance.toFixed(2);
    var latHemisphere = station.latitude >= 0 ? 'N' : 'S';
    var lngHemisphere = station.longitude >= 0 ? 'E' : 'W';
    var googleMapsLink = `https://www.google.com/maps/search/?api=1&query=${station.latitude},${station.longitude}`;
    return `
        <div class="sidebar-item dark:text-white">
            <h4>${index + 1}. ${station.basestation_id}</h4>
            <p><b>Service Provider:</b> ${station.service_provider}</p>
            <p><b>Distance:</b> ${formattedDistance}km</p>
            <p><b>Frequency Bands:</b> ${station.frequency_bands.join(", ")}</p>
            <p><b>City:</b> ${station.city}</p>
            <p><b>Location:</b> ${station.location}</p>
            <p><b>Coordinates:</b> ${formattedLat}°${latHemisphere}, ${formattedLng}°${lngHemisphere}</p>
        </div>`;
}

function constructFilterURL() {
    let params = new URLSearchParams();

    if (currentFilters.lat !== undefined) params.append('lat', currentFilters.lat);
    if (currentFilters.lng !== undefined) params.append('lng', currentFilters.lng);
    if (currentFilters.limit !== undefined) params.append('limit', currentFilters.limit);
    if (currentFilters.maxDistance !== undefined) params.append('max_distance', currentFilters.maxDistance);
    currentFilters.serviceProvider.forEach(provider => params.append('service_provider', provider));
    currentFilters.frequencyBands.forEach(band => params.append('frequency_bands', band));

    return `/stations?${params.toString()}`;
}

function fetchStations(lat, lng, mode = 'nearest', limit = null, maxDistance = null, serviceProvider = [], frequencyBands = []) {
    let filterURL = constructFilterURL();
    fetch(filterURL)
    .then(response => response.json())
    .then(data => {
        updateBTSCount(data.count);
        showSidebar();
        displayStations(data.stations);
    })
    .catch(error => console.error('Error fetching stations:', error));
}
function setupSliderInteractions(sliders, map) {
    let sliderActive = false;
    const disableMapDragging = () => { // Event handler to disable map dragging
        map.dragging.disable();
        sliderActive= true;
    }
    // Event handler to re-enable map dragging
    const enableMapDragging = () => {
        if (sliderActive) {
            map.dragging.enable();
            sliderActive = false;
        }
    };
    // Attach event listeners to each slider for disabling map dragging
    sliders.forEach(slider => {
        slider.addEventListener('pointerdown', disableMapDragging);
        slider.addEventListener('mousedown', disableMapDragging);
        slider.addEventListener('touchstart', disableMapDragging);
    });
    
    ['pointerup', 'mouseup', 'touchend', 'pointerleave', 'mouseleave', 'touchcancel'].forEach(eventType => {
        document.addEventListener(eventType, enableMapDragging);
    });
}

var showBTSButton = L.control({position: 'topright'});
showBTSButton.onAdd = function(map) {
    var div = L.DomUtil.create('div', 'bts-control-container');

    div.innerHTML = `
    <div class="my-1"> 
        <button id="showNearestBtn" class="w-full text-gray-700 font-bold py-1 px-2 rounded">
            Show Nearest BTSs
        </button>
        <div class="slider-container relative my-3">
            <input type="range" id="nearestBtsRange" min="1" max="10" value="6" class="slider w-full bg-blue-300 rounded-full appearance-none h-1 dark:bg-gray-700">
            <div id="nearestBtsValueLabel" class="absolute bg-blue-300 dark:bg-gray-700 text-white rounded-md py-0.5 px-2 text-xs"></div>
        </div>
    </div>

    <div class="my-1">    
        <button id="showWithinDistanceBtn" class="w-full text-gray-700 font-bold py-1 px-2 rounded">
            Show BTSs within distance
        </button>
        <div class="slider-container relative my-2">
            <input type="range" id="withinDistanceRange" min="0" max="10" step="0.1" value="3" class="slider w-full bg-blue-300 rounded-full appearance-none h-1 dark:bg-gray-700">
            <div id="withinDistanceValueLabel" class="absolute bg-blue-300 dark:bg-gray-700 text-white rounded-md py-0.5 px-2 text-xs"></div>
        </div>
    </div>
    `;
    
    var sliders = div.querySelectorAll('input[type="range"]');
    setupSliderInteractions(sliders, map);
    
    setTimeout(function() {
        // Set up for the 'nearestBtsRange' slider
        var nearestBtsRange = document.getElementById('nearestBtsRange');
        var nearestBtsValueLabel = document.getElementById('nearestBtsValueLabel');
        if (nearestBtsRange && nearestBtsValueLabel) {
            function updateNearestBtsLabel() {
                nearestBtsValueLabel.textContent = nearestBtsRange.value;
            }
            nearestBtsRange.addEventListener('input', updateNearestBtsLabel);
            updateNearestBtsLabel(); // Initial update
        }

        // Set up for the 'withinDistanceRange' slider
        var withinDistanceRange = document.getElementById('withinDistanceRange');
        var withinDistanceValueLabel = document.getElementById('withinDistanceValueLabel');
        if (withinDistanceRange && withinDistanceValueLabel) {
            function updateWithinDistanceLabel() {
                withinDistanceValueLabel.textContent = withinDistanceRange.value;
            }
            withinDistanceRange.addEventListener('input', updateWithinDistanceLabel);
            updateWithinDistanceLabel();
        }
    }, 0);
    
    L.DomEvent.on(div, 'click', function(e) {
        L.DomEvent.stop(e);
        var center = map.getCenter();
        var limit = document.getElementById('nearestBtsRange').value;
        var maxDistance = document.getElementById('withinDistanceRange').value;

        if (e.target.id === 'showNearestBtn') {
            currentFilters.limit = limit;
            let filterURL = constructFilterURL();
            fetchStations(filterURL);
        } else if (e.target.id === 'showWithinDistanceBtn') {
            currentFilters.maxDistance = maxDistance
            let filterURL = constructFilterURL();
            fetchStations(filterURL);
        }
    });

    return div;
};

showBTSButton.addTo(mymap);

var filterControl = L.control({position: 'bottomleft'});
filterControl.onAdd = function(map) {
    var div = L.DomUtil.create('div', 'filter-control-container');
    div.innerHTML = `
        <button id="toggle-filters-btn" class="bg-blue-500 hover:bg-blue-700 text-white dark:text-white font-bold py-1 px-2 rounded w-48">
        Toggle Filters
        </button>

        <div id="filterContainer" class="bg-white p-3 rounded shadow text-black dark:bg-black dark:text-white w-48 hidden">
            <div class="flex flex-row justify-between items-start"> 
                <div class="filter-section flex flex-col">
                    <p class="filter-header">Service Provider:</p>
                    <div class="flex flex-col">     
                        <label><input type="checkbox" name="service_provider" value="P4 Sp. z o.o.'"> Play</label>
                        <label><input type="checkbox" name="service_provider" value="Orange Polska S.A."> Orange</label>
                        <label><input type="checkbox" name="service_provider" value="T-Mobile Polska S.A."> T-Mobile</label>
                        <label><input type="checkbox" name="service_provider" value="POLKOMTEL Sp. z o.o."> Plus</label>
                        <label><input type="checkbox" name="service_provider" value="AERO 2 Sp. z o.o."> Aero 2</label>
                    </div>
                </div>
                <div class="filter-section flex flex-col">
                    <p class="filter-header">Technology:</p>
                    <div class="flex flex-col"> 
                        <label><input type="checkbox" name="frequency_bands" value="5G3600"> 5G3600</label>
                        <label><input type="checkbox" name="frequency_bands" value="5G2100"> 5G2100</label>
                        <label><input type="checkbox" name="frequency_bands" value="5G1800"> 5G1800</label>
                        <label><input type="checkbox" name="frequency_bands" value="LTE2600"> LTE2600</label>
                        <label><input type="checkbox" name="frequency_bands" value="LTE2100"> LTE2100</label>
                        <label><input type="checkbox" name="frequency_bands" value="LTE1800"> LTE1800</label>
                        <label><input type="checkbox" name="frequency_bands" value="LTE900"> LTE900</label>
                        <label><input type="checkbox" name="frequency_bands" value="LTE800"> LTE800</label>
                        <label><input type="checkbox" name="frequency_bands" value="GSM1800"> GSM1800</label>
                        <label><input type="checkbox" name="frequency_bands" value="GSM900"> GSM900</label>
                    </div>
                </div>  
            </div>
            <button id="apply-filters" class="apply-filters-btn mt-2 w-full text-white bg-blue-500 hover:bg-blue-700 font-bold py-1 px-4 rounded">
                Apply Filters
            </button>  
        </div>
    `;

    // Prevent map actions when interacting with the filter controls
    L.DomEvent.disableClickPropagation(div);
    L.DomEvent.on(div, 'mousewheel', L.DomEvent.stopPropagation);

    return div;
};

filterControl.addTo(mymap);

document.getElementById('toggle-filters-btn').addEventListener('click', function() {
    var filterContainer = document.getElementById('filterContainer');
    filterContainer.classList.toggle('hidden');
});

document.getElementById('apply-filters').addEventListener('click', function() {
    let frequencyBands = Array.from(document.querySelectorAll('input[name="frequency_bands"]:checked')).map(el => el.value);
    let serviceProvider = Array.from(document.querySelectorAll('input[name="service_provider"]:checked')).map(el => el.value);
    currentFilters.serviceProvider = serviceProvider;
    currentFilters.frequencyBands = frequencyBands;

    let filterURL = constructFilterURL();
    fetchStations(filterURL);
    })
    </script>
{% endblock %}


