{% extends "base.html" %}

{% block content %}
    <div class="markdown-content prose lg:prose-xl mx-auto px-6">
        <h2>Site Statistics</h2>
        <div id="stats-container">
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}

{% block code %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        fetch('/get-stats')
            .then(response => response.json())
            .then(data => {
                let tableHTML = '<table class="table"><thead><tr><th>Band</th>';
                data.providers.forEach(provider => {
                    tableHTML += `<th>${provider}</th>`;
                });
                tableHTML += '</tr></thead><tbody>';
    
                data.sorted_bands.forEach(band => {
                    tableHTML += `<tr><td>${band}</td>`;
                    data.providers.forEach(provider => {
                        let count = data.bands_data[band][provider] || 0;
                        tableHTML += `<td>${count}</td>`;
                    });
                    tableHTML += '</tr>';
                });
    
                // Add row for physical sites
                tableHTML += '<tr><td>Physical Sites</td>';
                data.providers.forEach(provider => {
                    let count = data.physical_sites[provider] || 0;
                    tableHTML += `<td>${count}</td>`;
                });
                tableHTML += '</tr></tbody></table>';
    
                document.getElementById('stats-container').innerHTML = tableHTML;
            })
            .catch(error => console.error('Error:', error));
    });
        </script>

{% endblock %}