<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signal-Scout</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Signal-Scout</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/data">Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stats">Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tips">Tips</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4 text-center">
        <h2>Site Statistics</h2>
        <div id="sites-stats">
            <h3>Sites per Provider</h3>
            
        </div>
        <div id="bands-stats">
            <h3>Frequency Bands per Provider</h3>
        </div>
    </div>

    <footer class="footer">
        <div class="container text-center">
            © 2024 Signal-Scout | Contact: hcylwik@gmail.com
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
    fetch('/get-stats')
        .then(response => response.json())
        .then(data => {
            // Get a unique list of all bands across all providers
            let allBands = new Set();
            for (const bands of Object.values(data.bands_data)) {
                Object.keys(bands).forEach(band => allBands.add(band));
            }
            allBands = Array.from(allBands);

            // Custom sorting function for bands
            function sortBands(a, b) {
                // Define the order of bands
                const order = ['5G', '4G', '2G'];

                // Find the index of the band in the order array
                const getOrderIndex = (band) => {
                    const index = order.findIndex(item => band.toUpperCase().includes(item));
                    return index === -1 ? 999 : index;
                };

                const aIndex = getOrderIndex(a);
                const bIndex = getOrderIndex(b);

                // Compare based on index, or alphabetically if both bands have the same index
                if (aIndex !== bIndex) {
                    return aIndex - bIndex;
                } else {
                    return a.localeCompare(b);
                }
            }

            // Sort bands in the order of 5G, 4G, 2G
            allBands.sort(sortBands);

            // Prepare table for Frequency Bands Stats
            const bandsStatsElement = document.getElementById('bands-stats');
            let bandsTable = '<table class="table"><thead><tr><th>Category</th>';

            // Add provider names as column headers
            for (const provider of Object.keys(data.bands_data)) {
                bandsTable += `<th>${provider}</th>`;
            }
            bandsTable += '</tr></thead><tbody>';

            // Add a row for Physical Sites
            bandsTable += '<tr><td>Physical Sites</td>';
            for (const provider of Object.keys(data.sites_data)) {
                const siteCount = data.sites_data[provider] || 0;
                bandsTable += `<td>${siteCount}</td>`;
            }
            bandsTable += '</tr>';

            // Add rows for each frequency band
            allBands.forEach(band => {
                bandsTable += `<tr><td>${band}</td>`;
                for (const provider of Object.keys(data.bands_data)) {
                    const bandCount = data.bands_data[provider][band] || 0;
                    bandsTable += `<td>${bandCount}</td>`;
                }
                bandsTable += '</tr>';
            });
            
            bandsTable += '</tbody></table>';
            bandsStatsElement.innerHTML = bandsTable;
        })
        .catch(error => console.error('Error:', error));
});

    </script>
</body>
</html>